<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="col-md-6">
          <a href="mailto:mohit.sharma@nyu.edu?Subject=IOT'17%20Class">Contact</a>
        </div>
        <div class="col-md-6">
          <p class="muted pull-right">MIT License.</br>Mohit Sharma, CUSP 2019</p>
        </div>
      </div>
    </div>
  </div>
</footer>
</nav>
<a class="github-fork-ribbon right-bottom fixed" href="https://github.com/Mohitsharma44/CUSP-GX-6004-C" title="Fork me on GitHub">Fork me on GitHub</a>
