<html>
  <head>
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/default_layout.css') }}">
    <script src="{{ static_url('js/jquery.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <title>{{ title }}</title>
  </head>
  <body>
    {% include "navbar.html" %}
    <!-- Main Body -->
    <p class="lead" style="text-align:center">Howdy, {{ username }}!</p>
    <div class="test">
      <button type="submit" class="btn btn-success" value="Sign In">Download Key</button>
    </div>
    <!-- Footer -->
    {% include "footer.html" %}
  </body>
</html>
